h2 {
  color: #ddd !important;
}
.collapsible .toggle {
  background: rgb(91 110 91);
  border: unset;
  cursor: pointer;
  width: 100%;
  color: #ddd !important;
  /* margin-bottom: 0.5rem; not a clue how much is this */
  border-radius: 20px;
  padding: 10px 20px 0 20px;
}

.collapsible .content {
  background: rgb(91 110 91);
  border: unset;
  cursor: pointer;
  /* box-sizing: border-box; */
  padding: 10px 20px;
  color: #ddd !important;
  margin-bottom: 0.5rem;
  border-radius: 0 0 30px 30px;
}

.collapsible .content-parent {
  /* For animation */
  height: 0px;
  overflow: hidden;
  transition: height ease 0.4s;
  margin-bottom: 10px;
}

.content {
  text-align: left;
}

.flex-align-center {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.p-10-20 {
  padding: 10px 20px;
}




/* NEW ANIMATION  */
details > summary {
  list-style: none;
  cursor: pointer;
  padding: 10px 20px;
  margin: 10px 0;
}

/* for chrome */
details > summary::-webkit-details-marker {
  display: none;
}

.flight-box {
  border: 2px solid rgb(228, 119, 107);
  /* border-radius: 15px; */
  background-color: rgb(179, 125, 119);
}

.details-content {
  background-color: rgb(156, 179, 119);
}