h2 {
  color: #ddd !important;
}
.collapsible .toggle {
  background: rgb(91 110 91);
  border: unset;
  cursor: pointer;
  width: 100%;
  color: #ddd !important;
  /* margin-bottom: 0.5rem; not a clue how much is this */
  border-radius: 30px 30px 0 0;
  padding: 10px 20px 0 20px;
}

.collapsible .content {
  /* border: 1px solid #afafaf;
  border-radius: 5px;
  padding: 1rem;
  margin-bottom: 0.5rem; */
  background: rgb(91 110 91);
  border: unset;
  cursor: pointer;
  padding: 0 20px 10px 20px;
  color: #ddd !important;
  margin-bottom: 0.5rem;
  border-radius: 0 0 30px 30px;
}

.collapsible .content-parent {
  /* For animation */
  height: 0px;
  overflow: hidden;
  transition: height ease 0.4s;
  margin-bottom: 10px;
}

.content {
  text-align: left;
}

.flex-align-center {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.p-10-20 {
  padding: 10px 20px;
}
